body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

header {
  text-align: center;
  padding: 15px;
  background: #020617;
}

#matches {
  padding: 15px;
  display: grid;
  gap: 12px;
}

.match {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
}

.teams {
  display: flex;
  justify-content: space-between;
}

.score {
  text-align: center;
  font-size: 22px;
  color: #22c55e;
  margin: 10px 0;
}

.time {
  text-align: center;
  font-size: 13px;
  color: #94a3b8;
}

.live {
  color: red;
  font-weight: bold;
}
